doctype
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='description', content='DMM Web Service API 2.0 を使った検索サイトです。')
    meta(name='author', content='ujiro99')
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

    // StyleSheet
    link(rel="stylesheet" href="/components/normalize-css/normalize.css")
    != css('page')
    != css('search-result')
    != css('item')
    != css('p-social-bar')

    // Script
    script(src='components/platform/platform.js')
    script(src='components/jQuery/dist/jquery.min.js')
    script(src='components/masonry/dist/masonry.pkgd.min.js')
    script(src='components/imagesloaded/imagesloaded.pkgd.min.js')
    != js('searchResult')

    // PolymerComponents
    link(rel="import" href="/components/search-result/search-result.html")

  body(fullbleed, layout, unresolved, touch-action="auto")

    #wrap(fit)

      search-result(title="#{title}", version="#{version}", site="#{site}")

